<section class="home">
    <div class="home__slider-immage">
        <img src="/assets/macbookPro.jpg" alt="macbook pro">
        <img src="/assets/interlI9.jpg" alt="Intel I9">
        <img src="/assets/evgaPowerSupply.jpg" alt="power supply">
        <img src="/assets/motherboard.jpg" alt="motherboard">
        <img src="/assets/nvidiaVideoCard.png" alt="nvidia Video Cards">
        <img src="/assets/office.jpg" alt="office machine">
        <img src="/assets/printer.png" alt="printer">
    </div>
</section>