<header>
    <nav>
        <div class="header__logo">
            <a routerLink="/"><i class="fas fa-server"></i></a>
        </div>
        <div class="header__menu">
            <ul>
                <li><a routerLink="/product/catalog">Catalog</a></li>
                <li><a routerLink="/about">About</a></li>
            </ul>
            <ul *ngIf="!isLoggedIn">
                <li><a routerLink="/auth/register">Register</a></li>
                <li><a routerLink="/auth/login">Login</a></li>
            </ul>
            <ul *ngIf="isLoggedIn">
                <!-- <li><a routerLink="/home"><i class="fas fa-home"></i>Home</a></li> -->
                <li><a routerLink="/product/create">Create</a></li>
                <li><a routerLink="/profil">{{user?.username}}'s profile</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>