<section class="detail__section">
    <article class="detail__container shadow">
        <div class="detail__img">
            <img src={{product?.img}} alt="picture address">
        </div>
        <div class="detail__description">
            <h1 class="prop">Detail of: <span class="span">{{product?.articul}}</span></h1>
            <p class="prop">Mark: <span class="span">{{product?.mark}}</span></p>
            <p class="prop">Model: <span class="span">{{product?.model}}</span></p>
            <p class="prop">Description: <span class="span">{{product?.description}}</span></p>
        </div>
        <div *ngIf="hasLoged" class="detail__button">
            <ng-container *ngIf="hasOwner">
                <button routerLink="/product/edit/{{product?._id}}" class="btn edit">Edit</button>
                <button routerLink="/product/delete/{{product?._id}}" class="btn delete">Delete</button>
            </ng-container>
            <ng-container *ngIf="!hasOwner">
                <button routerLink="/cart/{{product?._id}}" class="btn buy">Buy Product</button>
            </ng-container>
        </div>
    </article>
</section>